*****Required package*****

In [10]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import sklearn.metrics as sm
from sklearn.metrics import mean_squared_error

from sklearn import linear_model
regr = linear_model.LinearRegression()

from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

====================================================================================



**Machine learning _ Multiple Regression**

In [2]:
df = pd.read_csv(r'APRICO2Decrease.csv') 
df = df.iloc[1:, :]
data = df.drop(['class name', 'people', 'start' , 'end', 'minimum', 'maximum'], axis='columns')
data.drop(data.columns[0], axis = 1, inplace = True ) # df.drop gives an error finding 'Date' so I delet by index
df_MR = data.dropna()
df_MR

    Duration room surface area  room height Windows no of win door  no of door
1        204               72.7         3.5       4         3   2.5          2
2        184               72.7         3.5       4         3   2.5          2
3        194               72.7         3.5       4         3   2.5          2
4        248               72.7         3.5       4         3   2.5          2
5        507               72.7         3.5       4         3   2.5          2
..       ...                ...         ...     ...       ...   ...        ...
321      524               46.5         3.5       4         2   3.3          1
322      308               46.5         3.5       4         2   3.3          1
323      349               46.5         3.5       4         2   3.3          1
324      370               46.5         3.5       4         2   3.3          1
325      184               46.5         3.5       4         2   3.3          1

[284 rows x 7 columns]

In [3]:
df_MR_target = df_MR.copy(deep=True)
df_MR_input = df_MR.copy(deep=True)
df_MR_target.drop(df_MR_target.columns[1:7], axis = 1, inplace = True)
df_MR_input.drop(df_MR_input.columns[0], axis = 1, inplace = True)
df_MR_input

    room surface area  room height Windows no of win door  no of door
1                 72.7         3.5       4         3   2.5          2
2                 72.7         3.5       4         3   2.5          2
3                 72.7         3.5       4         3   2.5          2
4                 72.7         3.5       4         3   2.5          2
5                 72.7         3.5       4         3   2.5          2
..                 ...         ...     ...       ...   ...        ...
321               46.5         3.5       4         2   3.3          1
322               46.5         3.5       4         2   3.3          1
323               46.5         3.5       4         2   3.3          1
324               46.5         3.5       4         2   3.3          1
325               46.5         3.5       4         2   3.3          1

[284 rows x 6 columns]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df_MR_input,df_MR_target,test_size=0.2)

In [5]:
m_reg_mod = linear_model.LinearRegression()
m_reg_mod.fit(X_train,y_train)

LinearRegression()

In [6]:
print(m_reg_mod.coef_)

[[-14.13265306   0.         111.98512284  98.58094993 -78.86475995
  210.56607277]]

In [7]:
pred = m_reg_mod.predict(X_test)

In [15]:
predicted = m_reg_mod.predict([[50, 3.5, 4, 3, 2.5, 2]])
print(f' imaginary room {predicted}')
duplicate = m_reg_mod.predict([[50, 3.5, 4, 3, 2.5, 2]])
print(f' imaginary room {duplicate}')
predicted = m_reg_mod.predict([[50, 3.5, 4, 3, 2.5, 1]])
print(f' one door less {predicted}')
predicted = m_reg_mod.predict([[70, 3.5, 4, 2, 2.5, 2]])
print(f' bigger surface area {predicted}')
predicted = m_reg_mod.predict([[30, 3, 4, 3, 2.5, 2]])
print(f' smaller surface {predicted}')

 imaginary room [[594.70311638]]
 imaginary room [[594.70311638]]
 one door less [[384.13704361]]
 bigger surface area [[213.46910522]]
 smaller surface [[877.35617761]]

    **Computing regression accuracy**
    
    Mean absolute error: This is the average of absolute errors of all the data points in the given dataset.
    
    Mean squared error: This is the average of the squares of the errors of all the data points in the given dataset. 
    It is one of the most popular metrics out there!
    
    Median absolute error: This is the median of all the errors in the given dataset. The main advantage of this 
    metric is that it's robust to outliers. A single bad point in the test dataset wouldn't skew the entire error  metric, as opposed to a mean error metric.
    
    Explained variance score: This score measures how well our model can account for the variation in our dataset. 
    A score of 1.0 indicates that our model is perfect.
    
    R2 score: This is pronounced as R-squared, and this score refers to the coefficient of determination.
    This tells us how well the unknown samples will be predicted by our model. The best possible score is 1.0,
    but the score can be negative as well.
    
    Functions ending with  _score return a value to maximize; the higher the better
    Functions ending with _error or _loss return a value to minimize; the lower the better

In [11]:
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, pred), 2))
print("RMSE =", round(np.sqrt(mean_squared_error(y_test, pred)), 2))
print("Median absolute error =", round(sm.median_absolute_error(y_test, pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, pred), 2))

Mean absolute error = 98.92
Mean squared error = 15111.6
RMSE = 122.93
Median absolute error = 86.07
Explain variance score = -0.02
R2 score = -0.04